/**
 * Basic typography style for copy text
 */

body {
  font-family: 'Montserrat', sans-serif;
  color: $preto;
  font-size: 1.6rem;
  line-height: 1.4;
}

.img {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}
